:host, form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.score{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.score > .mat-form-field:first-child{
  width: 50%;
  margin-right: 10px;
}

.score > .mat-form-field:nth-child(2){
  width: calc(50% - 10px);
} 

.upload-images{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.upload-images > button{
  height: 60px;
  width: 100%;
  background-color: #2a2a2a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-images h6{
  margin: 0;
}

.upload-images > button:nth-child(-n+4){
  margin-right: 2px;
}

.full-width-field {
  width: 100%;
}
