<div class="center">
  <button mat-button [class.active]="onRoute('/publisher')" (click)="goToRoute('publisher')">
    Publisher
  </button>
  <button mat-button [class.active]="onRoute('/generater')" (click)="goToRoute('generater')">
    Generater
  </button>
  <button mat-button [class.active]="onRoute('/settings')" (click)="goToRoute('settings')">
    Settings
  </button>
</div>
<div class="right">
  <button mat-button [matMenuTriggerFor]="menu">
    <span [hidden]="mobile">Bem vindo, {{getUserName()}}</span>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>