/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: BebasNeueRegular;
  src: url(/assets/fonts/BebasNeueRegular.ttf);
}

@font-face {
  font-family: HansonBold;
  src: url(/assets/fonts/HansonBold.ttf);
}

@font-face {
  font-family: Maler;
  src: url(/assets/fonts/Maler.ttf);
}
