/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field .mat-input-element {
  color: slategray;
}
.mat-form-field .mat-form-field-label {
  color: slategray!important;
}
.mat-form-field .mat-form-field-underline {
  background-color: slategray;
}
.mat-form-field .mat-form-field-ripple {
  background-color: slategray;
}
.mat-form-field .mat-form-field-required-marker {
  color: slategray;
}


.mat-form-field.mat-focused .mat-form-field-label {
  color: #ff884d!important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ff884d;
}
.mat-form-field.mat-focused .mat-form-field-required-marker {
  color: #ff884d;
}
.mat-form-field.mat-focused .mat-input-element {
  color: #ff884d;
}

.mat-form-field.mat-form-field-invalid .mat-input-element {
  color: #000080;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #000080!important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: #000080;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #000080;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #ffffff;
}

.mat-select-value {
  color: slategray;
}